<font color='navy'> <strong> Importamos a biblioteca Pandas, que facilita a manipulação de dados, depois lemos a planilha original. 

É preciso também inserir os zeros à esquerda para compor os 14 dígitos do cnpj dos postos.

Abaixo é possível ver uma amostra do resultado trazendo os primeiros 5 registros. </font></strong>

In [217]:
import pandas as pd

dfOriginal = pd.read_csv('combustiveis-original.csv')


#Transforma o campo cnpj em string e preenche de zeros até dar os 14 dígitos
dfOriginal['CNPJ'] = (dfOriginal['CNPJ']).astype(str).copy()
dfOriginal['CNPJ'] = dfOriginal['CNPJ'].apply(lambda x: x.zfill(14))

dfOriginal.head(5)

,CNPJ,DSC_PRODUTO,DIA,MES,ANO,VAL_MEDIO_VENDIDO
0,12519476000112,COMB GASOLINA COMUM Bico 07,23,7,2019,4.358588
1,12519476000112,COMB GASOLINA COMUM Bico 15,22,7,2019,4.355683
2,12519476000112,COMB GASOLINA COMUM Bico 15,28,7,2019,4.335388
3,12519476000112,COMB GASOLINA COMUM Bico 16,16,7,2019,4.343486
4,12519476000112,COMB GASOLINA COMUM Bico 16,24,7,2019,4.345863

<font color='navy'> <strong> Abaixo foi preciso unir todas as vendas de gasolina resumindo resultado pela média das vendas de cada cnpj.

Obs.
Procuramos isolar apenas as vendas de gasolina comum, mas identificamos que 27 postos no estado venderam apenas gasolina aditivada no período. Entendemos que o mais justo seria fazer a média de todos os tipos de gasolina vendidos em cada posto, e assim foi feito. </font></strong>

In [219]:
dfOriginal = dfOriginal.groupby('CNPJ')[['VAL_MEDIO_VENDIDO']].mean().copy()
dfOriginal.head(5)

                VAL_MEDIO_VENDIDO
CNPJ
00404850000155           4.209992
00404850000236           4.173989
00404850000317           4.385104
00404850000406           4.754319
00440239000182           4.457878

<font color='navy'> <strong> É preciso observar que originalmente a planilha que nos foi fornecida pela Sefaz não traz outras informações sobre os postos exceto seu CNPJ.
 
 A partir daqui foi preciso montar uma grande query (consulta), para conseguir obter outras informações a respeito dos postos de combustível, como nome, cidade e bairro onde se localizam. Essa consulta foi feita a uma grande base de dados fornecida pela Receita Federal onde estão listadas todas as empresas do país.</font></strong>

In [239]:
#Monta a query a partir dos CNPJs

query = ("SELECT cnpj, razao_social , nome_fantasia, bairro, cod_municipio, municipio FROM empresas WHERE (cnpj LIKE ")

for index, row in dfOriginal.iterrows():
    query = query + "'" + index + "'"
    query = query + " OR cnpj LIKE "

#Remove o último: " OR cnpj LIKE "
query = query[:-14]
query = query + ")"
print(query)

SELECT cnpj, razao_social , nome_fantasia, bairro, cod_municipio, municipio FROM empresas WHERE (cnpj LIKE '00404850000155' OR cnpj LIKE '00404850000236' OR cnpj LIKE '00404850000317' OR cnpj LIKE '00404850000406' OR cnpj LIKE '00440239000182' OR cnpj LIKE '00497402000143' OR cnpj LIKE '00666880000130' OR cnpj LIKE '00740510000103' OR cnpj LIKE '00807244000261' OR cnpj LIKE '00994685000139' OR cnpj LIKE '01242690000158' OR cnpj LIKE '01242690000239' OR cnpj LIKE '01242690000310' OR cnpj LIKE '01332922000169' OR cnpj LIKE '01600494000108' OR cnpj LIKE '01774803000166' OR cnpj LIKE '02379869000548' OR cnpj LIKE '02418116000170' OR cnpj LIKE '02448145000185' OR cnpj LIKE '02485626000160' OR cnpj LIKE '02485967000136' OR cnpj LIKE '02488031000169' OR cnpj LIKE '02496680000101' OR cnpj LIKE '02681327000100' OR cnpj LIKE '02804864000191' OR cnpj LIKE '02817655000182' OR cnpj LIKE '02850879000196' OR cnpj LIKE '02850879000277' OR cnpj LIKE '02957259000150' OR cnpj LIKE '02970015000108' OR cnpj LIKE '02991589000162' OR cnpj LIKE '02991589000324' OR cnpj LIKE '03091692000119' OR cnpj LIKE '03223071000141' OR cnpj LIKE '03496743000192' OR cnpj LIKE '03522014000163' OR cnpj LIKE '03538830000165' OR cnpj LIKE '03618447000117' OR cnpj LIKE '03705157000100' OR cnpj LIKE '03853241000171' OR cnpj LIKE '03855924000168' OR cnpj LIKE '04077577000152' OR cnpj LIKE '04077577000314' OR cnpj LIKE '04154185000140' OR cnpj LIKE '04264431000116' OR cnpj LIKE '04416451000165' OR cnpj LIKE '04425109000121' OR cnpj LIKE '04431113000100' OR cnpj LIKE '04439462000160' OR cnpj LIKE '04532551000157' OR cnpj LIKE '04590794000141' OR cnpj LIKE '04663833000193' OR cnpj LIKE '04667909000159' OR cnpj LIKE '04695223000171' OR cnpj LIKE '04714021000120' OR cnpj LIKE '04735992000156' OR cnpj LIKE '04890249000251' OR cnpj LIKE '04890249000332' OR cnpj LIKE '04890249000413' OR cnpj LIKE '04979169000196' OR cnpj LIKE '05012787000125' OR cnpj LIKE '05019078000171' OR cnpj LIKE '05072232000179' OR cnpj LIKE '05079209000106' OR cnpj LIKE '05101388000130' OR cnpj LIKE '05254310000156' OR cnpj LIKE '05307247000179' OR cnpj LIKE '05331412000128' OR cnpj LIKE '05331412000209' OR cnpj LIKE '05388025000128' OR cnpj LIKE '05388025000209' OR cnpj LIKE '05408092000167' OR cnpj LIKE '05408092000248' OR cnpj LIKE '05408092000329' OR cnpj LIKE '05408092000400' OR cnpj LIKE '05453620000108' OR cnpj LIKE '05459764000163' OR cnpj LIKE '05518639000187' OR cnpj LIKE '05518639000268' OR cnpj LIKE '05518639000349' OR cnpj LIKE '05518639000420' OR cnpj LIKE '05560272000160' OR cnpj LIKE '05562589000135' OR cnpj LIKE '05738409000123' OR cnpj LIKE '05760532000140' OR cnpj LIKE '05767699000133' OR cnpj LIKE '05767699000214' OR cnpj LIKE '05769126000149' OR cnpj LIKE '05848209000123' OR cnpj LIKE '05875523000103' OR cnpj LIKE '05885727000117' OR cnpj LIKE '05900875000163' OR cnpj LIKE '05900895000134' OR cnpj LIKE '05901009000197' OR cnpj LIKE '05931854000105' OR cnpj LIKE '05984809000119' OR cnpj LIKE '05988846000103' OR cnpj LIKE '06053479000100' OR cnpj LIKE '06081417000102' OR cnpj LIKE '06209130000115' OR cnpj LIKE '06346976000288' OR cnpj LIKE '06867470000133' OR cnpj LIKE '06964197000165' OR cnpj LIKE '07000526000110' OR cnpj LIKE '07011584000140' OR cnpj LIKE '07042809000125' OR cnpj LIKE '07088557000175' OR cnpj LIKE '07120479000149' OR cnpj LIKE '07165156000171' OR cnpj LIKE '07165156000252' OR cnpj LIKE '07178086000196' OR cnpj LIKE '07247381000157' OR cnpj LIKE '07248398000129' OR cnpj LIKE '07431049000148' OR cnpj LIKE '07478815000120' OR cnpj LIKE '07483858000101' OR cnpj LIKE '07531582000181' OR cnpj LIKE '07583696000175' OR cnpj LIKE '07603051000157' OR cnpj LIKE '07603051000238' OR cnpj LIKE '07636452000103' OR cnpj LIKE '07637992000101' OR cnpj LIKE '07639999000162' OR cnpj LIKE '07694838000171' OR cnpj LIKE '07716281000122' OR cnpj LIKE '07724080000177' OR cnpj LIKE '07727179000122' OR cnpj LIKE '07754145000127' OR cnpj LIKE '07783800000175' OR cnpj LIKE '07802429000141' OR cnpj LIKE '07826783000106' OR cnpj LIKE '07839831000109' OR cnpj LIKE '07849241000159' OR cnpj LIKE '07886068000169' OR cnpj LIKE '08036271000109' OR cnpj LIKE '08036869000106' OR cnpj LIKE '08036869000289' OR cnpj LIKE '08061527000138' OR cnpj LIKE '08158788000170' OR cnpj LIKE '08164888000100' OR cnpj LIKE '08187326000181' OR cnpj LIKE '08203497000157' OR cnpj LIKE '08413304000192' OR cnpj LIKE '08418303000130' OR cnpj LIKE '08418303000211' OR cnpj LIKE '08418303000564' OR cnpj LIKE '08422115000186' OR cnpj LIKE '08422115000348' OR cnpj LIKE '08424467000170' OR cnpj LIKE '08461170000185' OR cnpj LIKE '08482940000176' OR cnpj LIKE '08515249000141' OR cnpj LIKE '08529008000151' OR cnpj LIKE '08529008000232' OR cnpj LIKE '08533353000169' OR cnpj LIKE '08560691000190' OR cnpj LIKE '08613838000162' OR cnpj LIKE '08613838000405' OR cnpj LIKE '08616112000183' OR cnpj LIKE '08623068000139' OR cnpj LIKE '08645435000103' OR cnpj LIKE '08695024000114' OR cnpj LIKE '08738994000150' OR cnpj LIKE '08776026000138' OR cnpj LIKE '08777265000102' OR cnpj LIKE '08801561000282' OR cnpj LIKE '08804741000137' OR cnpj LIKE '08841116000165' OR cnpj LIKE '08850457000105' OR cnpj LIKE '08886737000165' OR cnpj LIKE '08886885000180' OR cnpj LIKE '08950629000104' OR cnpj LIKE '08953205000101' OR cnpj LIKE '09025340000141' OR cnpj LIKE '09077197000131' OR cnpj LIKE '09081895000100' OR cnpj LIKE '09084298000130' OR cnpj LIKE '09088366000139' OR cnpj LIKE '09088674000164' OR cnpj LIKE '09153616000177' OR cnpj LIKE '09164951000170' OR cnpj LIKE '09164951000251' OR cnpj LIKE '09168737000192' OR cnpj LIKE '09178530000107' OR cnpj LIKE '09231306000123' OR cnpj LIKE '09259779000139' OR cnpj LIKE '09276007000105' OR cnpj LIKE '09277222000120' OR cnpj LIKE '09280439000190' OR cnpj LIKE '09280520000170' OR cnpj LIKE '09280520000331' OR cnpj LIKE '09321716000165' OR cnpj LIKE '09339805000139' OR cnpj LIKE '09347041000123' OR cnpj LIKE '09347041000204' OR cnpj LIKE '09347041000476' OR cnpj LIKE '09418619000195' OR cnpj LIKE '09419389000189' OR cnpj LIKE '09423134000190' OR cnpj LIKE '09452572000186' OR cnpj LIKE '09597666000143' OR cnpj LIKE '09609009000179' OR cnpj LIKE '10145273000188' OR cnpj LIKE '10230405000170' OR cnpj LIKE '10427868000126' OR cnpj LIKE '10484166000184' OR cnpj LIKE '10495659000110' OR cnpj LIKE '10523574000106' OR cnpj LIKE '10523779000183' OR cnpj LIKE '10527589000134' OR cnpj LIKE '10535038000112' OR cnpj LIKE '10589833000274' OR cnpj LIKE '10614999000112' OR cnpj LIKE '10616401000124' OR cnpj LIKE '10635075000100' OR cnpj LIKE '10635075000283' OR cnpj LIKE '10673213000138' OR cnpj LIKE '10795540000162' OR cnpj LIKE '10796852000190' OR cnpj LIKE '10800554000127' OR cnpj LIKE '10856597000124' OR cnpj LIKE '10889582000162' OR cnpj LIKE '10891745000141' OR cnpj LIKE '10954689000147' OR cnpj LIKE '11064275000105' OR cnpj LIKE '11092702000169' OR cnpj LIKE '11093625000161' OR cnpj LIKE '11123433000150' OR cnpj LIKE '11140617000129' OR cnpj LIKE '11185920000148' OR cnpj LIKE '11206098000154' OR cnpj LIKE '11290005000112' OR cnpj LIKE '11376961000111' OR cnpj LIKE '11377428000174' OR cnpj LIKE '11404177000170' OR cnpj LIKE '11441975000171' OR cnpj LIKE '11446488000100' OR cnpj LIKE '11457014000155' OR cnpj LIKE '11471910000179' OR cnpj LIKE '11498042000110' OR cnpj LIKE '11588397000109' OR cnpj LIKE '11679330000171' OR cnpj LIKE '11908167000171' OR cnpj LIKE '11908167000333' OR cnpj LIKE '11908167000414' OR cnpj LIKE '11908167000503' OR cnpj LIKE '11968667000107' OR cnpj LIKE '11984917000194' OR cnpj LIKE '11994584000184' OR cnpj LIKE '12018131000185' OR cnpj LIKE '12156279000186' OR cnpj LIKE '12182994000193' OR cnpj LIKE '12236184000172' OR cnpj LIKE '12251819000100' OR cnpj LIKE '12261087000130' OR cnpj LIKE '12275228000173' OR cnpj LIKE '12302204000166' OR cnpj LIKE '12315636000101' OR cnpj LIKE '12347811000142' OR cnpj LIKE '12396339000138' OR cnpj LIKE '12396339000219' OR cnpj LIKE '12396339000308' OR cnpj LIKE '12396339000561' OR cnpj LIKE '12405197000128' OR cnpj LIKE '12436978000180' OR cnpj LIKE '12442315000178' OR cnpj LIKE '12451076000112' OR cnpj LIKE '12451076000201' OR cnpj LIKE '12451076000546' OR cnpj LIKE '12451076000627' OR cnpj LIKE '12486809000235' OR cnpj LIKE '12486809000316' OR cnpj LIKE '12486809000405' OR cnpj LIKE '12512646000137' OR cnpj LIKE '12519476000112' OR cnpj LIKE '12541579000421' OR cnpj LIKE '12605987000157' OR cnpj LIKE '12630679000181' OR cnpj LIKE '12688818000128' OR cnpj LIKE '12706529000104' OR cnpj LIKE '12810280000182' OR cnpj LIKE '12844510000124' OR cnpj LIKE '12860845000136' OR cnpj LIKE '12875591000120' OR cnpj LIKE '12975538000109' OR cnpj LIKE '13074634000130' OR cnpj LIKE '13222947000199' OR cnpj LIKE '13231916000102' OR cnpj LIKE '13240923000162' OR cnpj LIKE '13437616000176' OR cnpj LIKE '13460056000170' OR cnpj LIKE '13478460000171' OR cnpj LIKE '13478481000197' OR cnpj LIKE '13536968000189' OR cnpj LIKE '13564704000139' OR cnpj LIKE '13597110000124' OR cnpj LIKE '13603215000149' OR cnpj LIKE '13631547000137' OR cnpj LIKE '13743932000176' OR cnpj LIKE '13951557000150' OR cnpj LIKE '14296183000149' OR cnpj LIKE '14341647000272' OR cnpj LIKE '14432556000161' OR cnpj LIKE '14486153001509' OR cnpj LIKE '14638806000114' OR cnpj LIKE '14683196000170' OR cnpj LIKE '14683196000251' OR cnpj LIKE '14794278000192' OR cnpj LIKE '14959471000136' OR cnpj LIKE '15080185000169' OR cnpj LIKE '15095322000139' OR cnpj LIKE '15138057000129' OR cnpj LIKE '15316294000132' OR cnpj LIKE '15503894000100' OR cnpj LIKE '15598179000106' OR cnpj LIKE '15696129000153' OR cnpj LIKE '15706489000199' OR cnpj LIKE '15739214000151' OR cnpj LIKE '15747618000197' OR cnpj LIKE '16527263000193' OR cnpj LIKE '16629332000170' OR cnpj LIKE '16674625000179' OR cnpj LIKE '16920293000165' OR cnpj LIKE '16986565000120' OR cnpj LIKE '17057051000152' OR cnpj LIKE '17158796000108' OR cnpj LIKE '17303640000173' OR cnpj LIKE '17336019000106' OR cnpj LIKE '17344224000113' OR cnpj LIKE '17348259000120' OR cnpj LIKE '17348259000201' OR cnpj LIKE '17348259000392' OR cnpj LIKE '17576769000155' OR cnpj LIKE '17577641000106' OR cnpj LIKE '17652161000162' OR cnpj LIKE '17698076000135' OR cnpj LIKE '17830342000131' OR cnpj LIKE '17879703000134' OR cnpj LIKE '17948172000194' OR cnpj LIKE '18270729000143' OR cnpj LIKE '18301306000143' OR cnpj LIKE '18527801000175' OR cnpj LIKE '18597376000190' OR cnpj LIKE '18702147000199' OR cnpj LIKE '18990675000190' OR cnpj LIKE '19034367000154' OR cnpj LIKE '19462341000107' OR cnpj LIKE '19485070000105' OR cnpj LIKE '19487785000105' OR cnpj LIKE '19739379000184' OR cnpj LIKE '20031527000190' OR cnpj LIKE '20097123000108' OR cnpj LIKE '20266767000174' OR cnpj LIKE '20528778000185' OR cnpj LIKE '20838676000166' OR cnpj LIKE '21169733000124' OR cnpj LIKE '21222600000174' OR cnpj LIKE '21309025000141' OR cnpj LIKE '21658848000182' OR cnpj LIKE '21909741000160' OR cnpj LIKE '21950393000174' OR cnpj LIKE '22105760000104' OR cnpj LIKE '22442762000180' OR cnpj LIKE '22727145000121' OR cnpj LIKE '23247761000148' OR cnpj LIKE '23768811000132' OR cnpj LIKE '23777416000116' OR cnpj LIKE '23800197000149' OR cnpj LIKE '23817031000135' OR cnpj LIKE '24150668000183' OR cnpj LIKE '24197104000104' OR cnpj LIKE '24245524000100' OR cnpj LIKE '24250482000104' OR cnpj LIKE '24313645000142' OR cnpj LIKE '24319022000187' OR cnpj LIKE '24327942000147' OR cnpj LIKE '24466310000164' OR cnpj LIKE '24586803000138' OR cnpj LIKE '24643379000116' OR cnpj LIKE '24772262000132' OR cnpj LIKE '25023880000142' OR cnpj LIKE '25294255000135' OR cnpj LIKE '25359544000175' OR cnpj LIKE '26355367000111' OR cnpj LIKE '26362482000113' OR cnpj LIKE '26427606000100' OR cnpj LIKE '26718857000135' OR cnpj LIKE '27069763000145' OR cnpj LIKE '27081087000125' OR cnpj LIKE '27190674000152' OR cnpj LIKE '27246281000113' OR cnpj LIKE '27591789000159' OR cnpj LIKE '27665019000103' OR cnpj LIKE '27752571000139' OR cnpj LIKE '28256951000145' OR cnpj LIKE '28343707000110' OR cnpj LIKE '28442466000166' OR cnpj LIKE '28463788000191' OR cnpj LIKE '28641331000120' OR cnpj LIKE '28666350000100' OR cnpj LIKE '28742913000100' OR cnpj LIKE '29078822000177' OR cnpj LIKE '29109548000156' OR cnpj LIKE '29689769000140' OR cnpj LIKE '29736718000122' OR cnpj LIKE '30044555000104' OR cnpj LIKE '30934089000124' OR cnpj LIKE '31232364000120' OR cnpj LIKE '31585795000170' OR cnpj LIKE '31698587000188' OR cnpj LIKE '31734439000171' OR cnpj LIKE '31759523000140' OR cnpj LIKE '32118316000179' OR cnpj LIKE '33358459000110' OR cnpj LIKE '35362367000130' OR cnpj LIKE '35370972000152' OR cnpj LIKE '35370972000233' OR cnpj LIKE '35370972000314' OR cnpj LIKE '35370972000403' OR cnpj LIKE '35567213000184' OR cnpj LIKE '35736818000151' OR cnpj LIKE '35741586000120' OR cnpj LIKE '40921967000120' OR cnpj LIKE '41160201000133' OR cnpj LIKE '41163486000247' OR cnpj LIKE '47427653005184' OR cnpj LIKE '47508411126338' OR cnpj LIKE '47508411145120' OR cnpj LIKE '47508411145200' OR cnpj LIKE '69986842000160' OR cnpj LIKE '69990182000191' OR cnpj LIKE '69999456000103' OR cnpj LIKE '70003660000101' OR cnpj LIKE '70019039000136')

In [240]:
#Importa a biblioteca para acesso ao banco de dados e executa a query montada anteriormente
#Esse é o processo onde efetivamente é feita a consulta ao banco de dados, e leva alguns minutos para retornar os resultados.
#O banco de dados foi baixado do site da RFB e precisou passar por um processo anterior para ser convertido

import sqlite3

conn = sqlite3.connect('CNPJ_full.db')
cursor = conn.cursor()

cursor.execute(query)
 
rows = cursor.fetchall()

In [241]:
#Define quais são os campos desse novo dataframe obtido junto à RFB

dfReceita = pd.DataFrame(rows)
dfReceita.columns = ['CNPJ', 'RAZAO_SOCIAL', 'NOME_FANTASIA', 'BAIRRO', 'COD_MUNICIPIO', 'MUNICIPIO']

#SE NÃO TIVER NOME FANTASIA RECEBE A RAZÃO SOCIAL NO LUGAR
for index, row in dfReceita.iterrows():    
    fantasia = (row['NOME_FANTASIA'])
    
    if row['NOME_FANTASIA'] == "":        
        row['NOME_FANTASIA'] = row['RAZAO_SOCIAL']        
        dfReceita['NOME_FANTASIA'][index] =  dfReceita['RAZAO_SOCIAL'][index]

#Deixa o campo cnpj desse novo dataframe no formato de string, assim ele passa a ser comparável ao do outro dataframe.
dfReceita['CNPJ'] = (dfReceita['CNPJ']).astype(str).copy()

dfReceita.head(5)

,CNPJ,RAZAO_SOCIAL,NOME_FANTASIA,BAIRRO,COD_MUNICIPIO,MUNICIPIO
0,00404850000155,MARTA CRISTINA SOBRAL,MARTA CRISTINA SOBRAL,RIO NOVO,2785,MACEIO
1,00404850000236,MARTA CRISTINA SOBRAL,POSTO LUAR DO FRANCES,POVOADO DO FRANCES,2793,MARECHAL DEODORO
2,00404850000317,MARTA CRISTINA SOBRAL,MARTA CRISTINA SOBRAL,TAB DOS MARTINS,2785,MACEIO
3,00404850000406,MARTA CRISTINA SOBRAL,MARTA CRISTINA SOBRAL,SANTA LUZIA,2833,PENEDO
4,00440239000182,POSTO BOULANGERIE LTDA,POSTO PRAIA,PRADO,2785,MACEIO

<font color='navy'> <strong> O próximo passo é unir os dois conjuntos de dados: receita federal e média de preços dos postos. </font></strong>

In [242]:
#PRIMEIRO INFORMAR QUE O ÍNDICE É O CNPJ
#dfOriginal.set_index("CNPJ", inplace=True) #Já está em str
dfReceita.set_index("CNPJ", inplace=True)

#DEPOIS É POSSÍVEL COMBINAR OS DOIS DATAFRAMES JÁ QUE O ÍNDICE É O MESMO
dfFinal = dfReceita.combine_first(dfOriginal)

#Arredonda valores para 3 casas após a vírgula
dfFinal = dfFinal.round({'VAL_MEDIO_VENDIDO': 3})

#Ordena do menor ao maior valor
dfFinal = dfFinal.sort_values('VAL_MEDIO_VENDIDO').copy()
dfFinal

#Inclui informações manualmente
#CNPJ 33358459000110 é novo e ainda não consta na base de dados da receita

dfFinal.at['33358459000110', 'MUNICIPIO' ] = "MACEIO"
dfFinal.at['33358459000110', 'NOME_FANTASIA'] = "POSTO CASTELO"
dfFinal.at['33358459000110', 'BAIRRO'] = "JACINTINHO"
dfFinal.at['33358459000110', 'COD_MUNICIPIO'] = "2785"
dfFinal.at['33358459000110', 'RAZAO_SOCIAL'] = "AUTO POSTO JACINTINHO LTDA"





dfFinal.head(5)

,BAIRRO,COD_MUNICIPIO,MUNICIPIO,NOME_FANTASIA,RAZAO_SOCIAL,VAL_MEDIO_VENDIDO
CNPJ,,,,,,
33358459000110,JACINTINHO,2785,MACEIO,POSTO CASTELO,AUTO POSTO JACINTINHO LTDA,3.984
22442762000180,ZONA RURAL,2761,IGACI,AUTO POSTO SEGURO,AUTO POSTO SEGURO COM�RCIO DE COMBUST�VEIS LTDA,3.994
32118316000179,CENTRO,2785,MACEIO,POSTO CASTELO,AUTO POSTO MACEIO LTDA,4.051
09178530000107,TABULEIRO DO PINTO,2853,RIO LARGO,AUTO POSTO SAN LORENZZO,SAN LORENZZO COMERCIO E DISTRIBUICAO DE COMBUS...,4.075
20528778000185,FEITOSA,2785,MACEIO,AUTO POSTO CONFIANCA,AUTO POSTO CONFIANCA EIRELI,4.105

In [243]:
#Ordena do menor ao maior valor
dfFinal = dfFinal.sort_values('VAL_MEDIO_VENDIDO').copy()
dfFinal

#Inclui informações manualmente
#CNPJ 33358459000110 é novo e ainda não consta na base de dados da receita

dfFinal.at['33358459000110', 'MUNICIPIO' ] = "MACEIO"
dfFinal.at['33358459000110', 'NOME_FANTASIA'] = "POSTO CASTELO"
dfFinal.at['33358459000110', 'BAIRRO'] = "JACINTINHO"
dfFinal.at['33358459000110', 'COD_MUNICIPIO'] = "2785"
dfFinal.at['33358459000110', 'RAZAO_SOCIAL'] = "AUTO POSTO JACINTINHO LTDA"

<font color='navy'> <strong> Está quase tudo pronto, mas queremos saber também a distância de cada cidade em relação a Maceió. 
    
O que fizemos a seguir foi utilizar a API ( Aplication Programming Interface) do Google Maps para medir a distância de cada uma das cidades até Maceió, levando em consideração a melhor rota rodoviária possível. </font></strong>

In [244]:
#Insere a distância de cada cidade em relação a maceió

import googlemaps 
listaDictDistancias = []
dicionarioDistancias = {'MUNICIPIO': "", 'DISTANCIA': ""}

# Requires API key 
gmaps = googlemaps.Client(key='INSIRA SEU CLIENT KEY') 
import time

#Lista com todas as cidades verificadas
listacidades = dfFinal.MUNICIPIO.unique()
for cidade in listacidades:
        

    origem = "MACEIO"
    destino = cidade
    my_dist = gmaps.distance_matrix(origem + ", Alagoas", destino + ", Alagoas")['rows'][0]['elements'][0] 

    distancia = ""

    try:
    # Printing the result 
        print(destino)
        print(my_dist['distance']['value'])
        distancia = (my_dist['distance']['value'])
    except:
        distancia = "seminfo"
        print("Não encontrado")
        pass

    dicionarioDistancias.update({'MUNICIPIO': destino, 'DISTANCIA': distancia})
    listaDictDistancias.append(dicionarioDistancias.copy())
    time.sleep(0.5)
    print("")

MACEIO
0

IGACI
153705

RIO LARGO
22677

SANTANA DO IPANEMA
209500

CAMPO ALEGRE
93475

SAO MIGUEL DOS CAMPOS
61803

MARECHAL DEODORO
23042

MARAVILHA
234920

SATUBA
22135

BELEM
115845

PILAR
39820

ATALAIA
49997

MATRIZ DE CAMARAGIBE
76129

UNIAO DOS PALMARES
78870

PARIPUEIRA
29574

SAO LUIS DO QUITUNDE
53140

BARRA DE SANTO ANTONIO
38650

ARAPIRACA
132497

JUNQUEIRO
116111

MARIBONDO
90820

MINADOR DO NEGRAO
171681

PALMEIRA DOS INDIOS
139859

CAJUEIRO
73733

PORTO REAL DO COLEGIO
172834

MURICI
54973

BARRA DE SAO MIGUEL
32677

ESTRELA DE ALAGOAS
155939

JOAQUIM GOMES
75243

CAPELA
65543

SAO JOSE DA LAJE
101048

BRANQUINHA
69289

TEOTONIO VILELA
101222

DOIS RIACHOS
190696

BOCA DA MATA
78806

SANTANA DO MUNDAU
105342

ROTEIRO
55019

VICOSA
90077

CRAIBAS
149773

NOVO LINO
101115

SAO SEBASTIAO
131136

CAMPESTRE
118568

ANADIA
97807

POCO DAS TRINCHEIRAS
219972

MARAGOGI
127719

OLIVENCA
206275

LIMOEIRO DE ANADIA
111885

JUNDIA
114903

INHAPI
275174

PAULO JACINTO
108410

PIRANHAS
266431

BATALHA
186544

OLHO D'AGUA DAS FLORES
210136

CACIMBINHAS
179576

MESSIAS
38680

CORURIPE
90710

CANAPI
258189

FELIZ DESERTO
119614

FEIRA GRANDE
147335

LAGOA DA CANOA
146029

SAO JOSE DA TAPERA
219848

PORTO CALVO
98788

DELMIRO GOUVEIA
304465

JAPARATINGA
117414

PIACABUCU
137853

CHA PRETA
108062

TAQUARANA
116620

MAJOR ISIDORO
194007

COLONIA LEOPOLDINA
116750

QUEBRANGULO
125040

IBATEGUARA
117600

GIRAU DO PONCIANO
158909

PAO DE ACUCAR
238333

CARNEIROS
227285

AGUA BRANCA
308103

JACARE DOS HOMENS
195430

COITE DO NOIA
131772

MONTEIROPOLIS
202762

MATA GRANDE
273144

PENEDO
167403

OLHO D'AGUA DO CASADO
271871

IGREJA NOVA
160756

PARICONHA
309406

SAO MIGUEL DOS MILAGRES
93738

CAMPO GRANDE
155496

OURO BRANCO
242831

JEQUIA DA PRAIA
65644

SENADOR RUI PALMEIRA
236052

TRAIPU
186714

PASSO DE CAMARAGIBE
72468

PORTO DE PEDRAS
120036

<font color='navy'> <strong> Com tudo pronto, basta adicionar a informação de distância à nossa base de dados anterior. </font></strong>

In [245]:
#Atualiza df com a distancia de todas as cidades pra maceió

dfDistancias = pd.DataFrame(listaDictDistancias)
dfDistancias.head(3)


dfFinal2 = dfFinal.merge(dfDistancias, left_on='MUNICIPIO', right_on='MUNICIPIO')
dfFinal2.head(3)

,BAIRRO,COD_MUNICIPIO,MUNICIPIO,NOME_FANTASIA,RAZAO_SOCIAL,VAL_MEDIO_VENDIDO,DISTANCIA
0,JACINTINHO,2785,MACEIO,POSTO CASTELO,AUTO POSTO JACINTINHO LTDA,3.984,0
1,CENTRO,2785,MACEIO,POSTO CASTELO,AUTO POSTO MACEIO LTDA,4.051,0
2,FEITOSA,2785,MACEIO,AUTO POSTO CONFIANCA,AUTO POSTO CONFIANCA EIRELI,4.105,0

<font color='navy'> <strong> Pra finalizar é só salvar em CSV e podemos exportar para uma planilha eletrônica ou ferramentas específicas de visualização de dados. </font></strong>

In [246]:
import csv
dfFinal2.to_csv("combustiveis_alagoas_municipios_distancias.csv", sep=',', quotechar='"',index=False, quoting=csv.QUOTE_ALL)